.contentField {
	padding: 67px 0 68px 0;
	&__title {
		font-size: 41px;
		line-height: 1.2;
		letter-spacing: 0.025em;
		text-align: center;
		margin: 0 0 31px 0;
	}
	&__subtitle {
		font-size: 15px;
		line-height: 23px;
		letter-spacing: 0.025em;
		text-align: center;
		margin: 0 0 48px 0;
	}
	.userInfo {
		display: flex;
		flex-direction: column;
		width: 555px;
		input {
			width: 100%;
			height: 62px;
			background-color: rgba(246, 249, 249, 0);
			border: 1px solid #999999;
			border-radius: 5px;
			padding: 26px 0 25px 20px;
			margin-bottom: 30px;
			&::placeholder {
				font-size: 15px;
				line-height: 1.2;
				letter-spacing: 0.025em;
				color: #999999;
			}
		}
	}
	.userData {
		max-width: 555px;
		height: 160px;
		&__block1 {
			display: flex;
			justify-content: space-between;
			input {
				width: 260px;
				height: 62px;
				background-color: rgba(246, 249, 249, 0);
				border: 1px solid #999999;
				padding: 26px 0 22px 21px;
				margin-bottom: 34px;
				border-radius: 5px;
				&::placeholder {
					font-size: 15px;
					line-height: 1.2;
					font-weight: 400;
					letter-spacing: 0.025em;
					color: #999999;
				}
			}
			select {
				width: 260px;
				height: 62px;
				background-color: rgba(246, 249, 249, 0);
				border: 1px solid #999999;
				padding: 20px 0 22px 21px;
				font-size: 15px;
				border-radius: 5px;
				line-height: 1.2;
				font-weight: 400;
				letter-spacing: 0.025em;
				color: #999999;
			}
		}
		&__block2 {
			display: flex;
			justify-content: space-between;
			select {
				width: 260px;
				height: 62px;
				background-color: rgba(246, 249, 249, 0);
				border: 1px solid #999999;
				border-radius: 5px;
				padding: 20px 0 22px 21px;
				font-size: 15px;
				line-height: 1.2;
				font-weight: 400;
				letter-spacing: 0.025em;
				color: #999999;
			}
		}
	}
	.checkbox__form {
		margin-top: 28px;
		display: flex;
		align-items: center;
		margin-bottom: 29px;
		input[type='checkbox'] {
			width: 17px;
			height: 17px;
			background-color: rgba(246, 249, 249, 0.54);
			border: 1px solid #9aa1ab;
			border-radius: 3px;
			margin-right: 15px;
		}
	}
	.save-data,
	.send {
		width: 142px;
		height: 47px;
		margin-right: 34px;
		background-color: #15a4fa;
		border: 1px solid #15a4fa;
		font-size: 18px;
		line-height: 47px;
		font-weight: 400;
		letter-spacing: 0.025em;
		color: #ffffff;
		border-radius: 5px;
		cursor: pointer;
		transition: 0.4s ease-out;
		&:hover {
			color: #15a4fa;
			background-color: #ffffff;
		}
	}
	.send {
		width: 258px;
	}
}
